In [85]:
#1
a='shiv'
b=[1,'ram',66.5,]
c= 9.6
d=('apple','banana','grapes')

In [86]:
type(a)

str

In [87]:
type(b)

list

In [88]:
type(c)

float

In [89]:
type(d)

tuple

In [90]:
#2
var1 = ' '  #this is string
var2 = '[ DS , ML , Python]'  #this is string
var3 = [ 'DS' , 'ML' , 'Python' ] #this is list
var4 = 1. #this is float

In [91]:
type(var1)

str

In [92]:
type(var2)

str

In [93]:
type(var3)

list

In [94]:
type(var4)

float

In [95]:
#3  
#Division(/)divides the first operand by the second it returns float value
10/5

2.0

In [96]:
#Modulus(%)returns the remainder when the first operand is divided by the second

9%2

1

In [97]:
#Division(//)divides the first operand by the second, it returns floor value

45//8

5

In [98]:
#Power(**)Returns first raised to power second

9**2

81

In [99]:
#4
l=[1,2,9,'shiv', 66.5, 'a', 'data', 'pwskills',9.5,"naruto"]

In [100]:
len(l) #gives length of string

10

In [101]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
9
<class 'int'>
shiv
<class 'str'>
66.5
<class 'float'>
a
<class 'str'>
data
<class 'str'>
pwskills
<class 'str'>
9.5
<class 'float'>
naruto
<class 'str'>

In [108]:
#5
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0

while A % B == 0:
    A //= B
    count += 1

if count > 0:
    print("A is divisible by B", count, "times.")
else:
    print("A is not divisible by B.")

Enter the number A:  6
Enter the number B:  2

A is divisible by B 1 times.

In [103]:
#6
l=[2,3,5,6,7,8,9,0,22,34,35,66,56,31,21,22,78,99,87,65,59,77,112,145,173]

In [109]:
for i in l:
    if i%3==0:
        print('num is divisible by 3')
    elif i%3!=0:
        print('num is not divisible by 3')
else:
    print('NO more input')

num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is divisible by 3
num is not divisible by 3
num is divisible by 3
num is divisible by 3
num is divisible by 3
num is not divisible by 3
num is not divisible by 3
num is not divisible by 3
num is not divisible by 3
num is not divisible by 3
num is not divisible by 3
NO more input

In [105]:
#7
#Mutable Objects: A mutable object can be changed after it is created.      EXAMPLE:: List, Set, Dictionary
#Immutable Objects: 	An immutable object cannot be changed after it is created.   EXAMPLE:: tuples, int, float, booL

In [106]:
tuple1 = (0, 1, 2, 3) 
tuple1[0] = 9
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [107]:
color = ["red", "blue", "green"]
print(color)
  
color[1] = "black"
print(color)

#this is mutable and can be changed after it is created

['red', 'blue', 'green']
['red', 'black', 'green']