In [2]:
#Q1
Cricketers =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuples:")
print(Cricketers)
Cricketers.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(Cricketers)

Original list of tuples:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [3]:
#Q2
nums =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nSquare every number of the said list:")
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#Q3
nums_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list :")
print(nums_list)
result_list =tuple(map(str,nums_list))
print("\n Tuple of strings:")
print(result_list)

Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 Tuple of strings:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
#Q4
mlist= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

total = 1

for i in mlist:
    total *= i

print(total)

15511210043330985984000000

In [15]:
#Q5
num_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: (x % 2 == 0 or x%3==0), num_list))
print("Numbers divisible by 2 and 3 are",result)

Numbers divisible by 2 and 3 are [2, 3, 6, 9, 27, 60, 90, 120, 46]