In [1]:
#Q1
'''A database is a collection of data that is organized, which is also called structured data.
It can be accessed or stored in a computer system.

SQL- These databases have fixed or static or predefined schema
     These databases are not suited for hierarchical data storage.
     These databases are best suited for complex queries and are vertically scalable
     
NoSQL- They have a dynamic schema
       These databases are best suited for hierarchical data storage.
       These databases are not so good for complex queries and are horizontally scalable.'''

'A database is a collection of data that is organized, which is also called structured data.\nIt can be accessed or stored in a computer system.\n\nSQL- These databases have fixed or static or predefined schema\n     These databases are not suited for hierarchical data storage.\n     These databases are best suited for complex queries and are vertically scalable\n     \nNoSQL- They have a dynamic schema\n       These databases are best suited for hierarchical data storage.\n       These databases are not so good for complex queries and are horizontally scalable.'

In [ ]:
#Q2
The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. 
The syntax of DDL commands is predefined for describing the data. 

CREATE Command: CREATE is a DDL command used to create databases, tables, triggers and other database objects.
EX- CREATE TABLE Student   
(  
Roll_No. Int ,    
First_Name Varchar (20) ,    
Last_Name Varchar (20) ,    
Age Int ,  
Marks Int ,   
) ;    


DROP Command:DROP is a DDL command used to delete/remove the database objects from the SQL database.
We can easily remove the entire table, view, or index from the database using this DDL command
EX- DROP TABLE Student;

ALTER Command:ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.
EX- ALTER TABLE Student ADD Father's_Name Varchar(60); 

TRUNCATE Command:TRUNCATE is another DDL command which deletes or removes all the records from the table.
EX-TRUNCATE TABLE Student

In [ ]:
#Q3
DML: The DML commands in Structured Query Language change the data present in the SQL database.
INSERT Command –This command is used to enter the information or values into a row
EX- INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 

UPDATE Command –This command is used to alter existing table records.

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini'; 

DELETE Command –It deletes all archives from a table.

DELETE FROM students

WHERE stu_id = '001';

In [ ]:
#Q4
DQL statements are employed to conduct inquiries on the information contained in schema objects. 
The main purpose of the DQL command is to provide a schema according to the query written.
SELECT Command:The most utilized SQL statement is select. Data from a database can be retrieved or fetched using the SELECT Statement in SQL. Either the entire table or a subset of it can be retrieved. A result table contains the data that was returned. The result set also refers to this result table.
EX- CREATE TABLE dost  
(  
FirstName varchar(30),  
LastName  varchar(30),  
Sub_ID INT,   
Sub_Name varchar(20),  
City varchar(50),  
College varchar(100)  
);  
  
Insert into dost  
Values ('Ayush','Gupta',32,'ECE','Jaipur','IIIT KOTA');  
Insert into dost  
Values ('Mansi','Meena',33,'SSC','Jaipur','Subodh College');  
Insert into dost  
Values ('Anjali','Kumawat',34,'CS','Kota','RTU KOTA');  
Insert into dost  
Values ('Shivani','Yadav',56,'Nursing','Delhi','AIIMS Delhi');  
Insert into dost  
Values ('Gopal','Tripathi',89,'Mech','Kurukshetra','NIT Kurukshetra');  
Insert into dost  
Values ('Ankit','Soni',96,'Electrical','Jaipur','Arya College Jaipur');  
Insert into dost  
Values ('Ankit','Narolia',12,'BSC','Jaipur','Parishkar College Jaipur');  
  
Select * FROM dost;

In [ ]:
#Q5
A primary key is used to ensure data in the specific column is unique.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables

In [ ]:
#Q6
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

execute():This method accepts a MySQL query as a parameter and executes the given query.
cursor(): It is an object that is used to make the connection for executing SQL queries. It acts as middleware

In [ ]:
#Q7
7 STAGES OF SQL ORDER OF EXECUTION 
FROM/JOIN
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET